.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../../../../assets/images/background/background.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 1em;

  .myrtea-logo {
    height: 6%;
    margin-top: 8%
  }

  .identifiers {
    margin-top: 8%;
    width: 41.7%;

    .authentication-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 2em;
      align-items: center;
      border-radius: 19px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: rgba(255, 255, 255, 0.11);


      .input-container {
        display: flex;
        position: relative;
        align-items: center;
        width: 65%;
        border-radius: 13px;
        box-shadow: 3px 8px 20px 0 rgba(0, 0, 0, 0.16);
        background-color: white;
        &:first-child {
          margin-bottom: 1em;
        }

        .login-input,
        .password-input {
          width: 100%;
          font-size: 18px;
          border: none;
          padding: 1em 1em;
          max-height: 100%;
          max-width: 100%;
          border-radius: 13px;
          &:hover {
            cursor: pointer;
          }
        }

        mat-icon {
          position: absolute;
          right: 5.4%;
          color: #12798a;
        }


        ::placeholder {
          font-family: 'Nunito', sans-serif;
          font-weight: 200;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #bfbfbf;
        }
      }

      .submit-container {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        margin-top: 1em;

        .submit-form {
          display: flex;
          justify-content: center;
          border-radius: 8px;
          background-color: #20adbc;
          height: 2.5em;
          width: 14em;
          color: white;
          font-family: 'Nunito', sans-serif;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: 0.7px;
          cursor: pointer;
          border: none;
        }
      }
    }
  }
}

*:focus {
  outline: none;
}
