@import 'src/styles/colors.scss';

.myrtea-window {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  height: 100%;

  .myrtea-window-header {
    color: $concrete;
    background: $ship-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    flex-grow: 0;

    mat-icon {
      color: $concrete;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  .myrtea-window-body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow: auto;
    flex-grow: 1;

    form {
      width: 100%;
    }
  }

  .myrtea-window-actions {
    flex-grow: 0;
    padding: 16px;
    display: flex;
    justify-content: flex-end;

    .myrtea-cancel {
      margin-right: 16px;
    }
  }
}
