// APP

$butterfly-bush: #5A52A8;
$white: #FFFFFF;
$blue-chill: #0A7EAB;
$concrete: #F2F2F2;
$ship-gray: #343338;
$dove-gray: #707070;
$deluge: #726CA8;
$silver: #BDBDBD;
$alabaster: #f8f8f8;
$date-grey: #414042;
$alto: #dcdcdc;
$emerald: #3FC380;
$selago : #e7edfc;
$foam: #ddf3fc;
$abbey: #484849;
// CHARTS

$tropical-blue: #cacff9;
$biloba-flower: #b4b9ee;
$chetwode-blue:#8688e3;
$moody-blue: #6c63d7;
$bouquet: #b480b3;
$mauvelous: #ef8bc0;
$illusion: #f7acc9;
$cupid: #fbc5d3;
$malibu: #8eb8f8;
$danube: #5985c9;
$dodger-blue:#3b86f9;
$java: #29c3be;
$fountain-blue: #63a9c4;
$blizzard-blue: #9bf0ed;
$mountain-meadow: #15B59F;
$half-baked: #8ec7c0;
$pelorous: #44bac7;
$amaranth: #EA3457;
// EVALUATION

$pastel-green: #76dea0;
$golden-sand: #f5e47e;
// $jaffa: #f2b705;
$jaffa: #ffa056;
$red: #FF3A60;
$thumbs-up: #179acd;

$ok-notification: #e2fcee;
$warning-notification: #ffe9d3;
$critical-notification: #fae0e0;
$info-notification: #e8f8ff;

//SHADOW

$shadow: rgba(167, 168, 168, 0.24);

$primary: #5a52a8;
$hover-white: #e3e3e3;
$hover-blue: #d7edf6;
$link: #37a9ff;
$read-indicator: #179acd;



// SCROLL

$gray: #888;

// COMBO BUTTON
$blueberry: #5a52a8;
$charcoal-grey: #343338;
$pale-lilac: #e8e6ff;
